
html{
}

button{
    padding: 20px;
    border-radius: 12px;
}

.usrBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

img{
    width: 200px;
    height: auto;
    border-radius: 15px;
}